@import "tailwindcss";

body {
  width: 100vw;
  overflow-x: hidden;
}

.glass {
  background: rgba(138, 45, 255, 0.25);
  box-shadow: 0 4px 30px rgba(156, 32, 255, 0.3);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(124, 58, 255, 0.45);
}

.intro-background {
  background: linear-gradient(
    180deg,
    rgba(138, 45, 255, 0.15) 0%,
    rgba(124, 58, 255, 0.15) 20%,
    rgba(110, 71, 255, 0.15) 40%,
    rgba(96, 84, 255, 0.15) 60%,
    rgba(82, 97, 255, 0.15) 80%,
    rgba(68, 110, 255, 0.25) 100%
  );

  backdrop-filter: blur(1.2px);
  -webkit-backdrop-filter: blur(1.2px);
  border-bottom: 1px solid rgba(138, 45, 255, 0.4);
}

.general-background {
  background: linear-gradient(
    135deg,
    rgba(156, 32, 255, 0.24) 0%,
    rgba(148, 39, 255, 0.14) 25%,
    rgba(140, 46, 255, 0.14) 35%,
    rgba(132, 53, 255, 0.14) 45%,
    rgba(124, 58, 255, 0.14) 55%,
    rgba(116, 65, 255, 0.14) 65%,
    rgba(108, 72, 255, 0.14) 75%,
    rgba(100, 79, 255, 0.14) 85%,
    rgba(156, 32, 255, 0.24) 100%
  );
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px 0px solid rgba(138, 45, 255, 0.25);
  border-right: 0px;
  border-left: 0px;
}

.background-reverse{
  background: linear-gradient(
    45deg,
    rgba(156, 32, 255, 0.24) 0%,
    rgba(148, 39, 255, 0.14) 25%,
    rgba(140, 46, 255, 0.14) 35%,
    rgba(132, 53, 255, 0.14) 45%,
    rgba(124, 58, 255, 0.14) 55%,
    rgba(116, 65, 255, 0.14) 65%,
    rgba(108, 72, 255, 0.14) 75%,
    rgba(100, 79, 255, 0.14) 85%,
    rgba(156, 32, 255, 0.24) 100%
  );
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px 0px solid rgba(138, 45, 255, 0.25);
  border-right: 0px;
  border-left: 0px;
}